/* header */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 677px;
    background-color: rgba(45, 37, 160, 1);
    color: white;    
}

a {
    text-decoration: none;
    color: white;  
}

.header-container {
    margin: 0 156px;
}

section.topbar {
    display: grid;
    grid-template-columns:  repeat(1, 1fr) 125px;
    width: 95%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding-left: 0;
    padding-right: 40px;
}



header h1 {
    font-size: 3em;
}

header h4 {
    background-color: rgba(224, 44, 109, 1);
    padding: 8px 25px;
    font-weight: 400;
}

section.top-header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

section h1 {
    display: flex;
    flex-direction: column;
}

section.top-header h4 {
    width: 105px;
}

.login-button:hover {
    transform: scale(120%);
}

.fa-arrow-right {
    position: relative;
    transition: width 5s;
}

.watch-button:hover .fa-arrow-right {
    animation: mymoveright 0.5s ease-in forwards;
    transform: scale(150%);
}

.watch-button a {
    position: relative;
}

.watch-button:hover a {
    animation: mymoveleft 0.5s ease-in forwards;
    font-weight: 600;
    transform: scale(110%);
}

@keyframes mymoveright {
    from {left: 0px;}
    to {left: 10px;}
  }

  @keyframes mymoveleft {
    from {left: 0px;}
    to {left: -10px;}
  }

header section img {
    width: 556px;
    height: 438px;
}