/* header */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 677px;
    background-color: rgba(45, 37, 160, 1);
    color: white;    
}

.header-container {
    margin: 0 156px;
}

section.topbar {
    display: grid;
    grid-template-columns:  repeat(1, 1fr) 130px;
    width: 95%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding-left: 0;
    padding-right: 40px;
}

nav ul a {
    text-decoration: none;
    color: white;  
}

header h1 {
    font-size: 3em;
}

header h4 {
    background-color: rgba(224, 44, 109, 1);
    padding: 8px 25px;
    font-weight: 400;
}


section.top-header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: space-between; */
    /* flex-direction: row; */
}

section h1 {
    display: flex;
    flex-direction: column;
}

section.top-header h4 {
    width: 115px;
}

header section img {
    width: 556px;
    height: 438px;
}