/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Import Fonts End*/

/* Style for full page */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;  
}

header {
    height: 677px;
    background-color: rgba(45, 37, 160, 1);
    color: white;    
}

header h1 {
    font-size: 3em;
}

h4 {
    background-color: rgba(224, 44, 109, 1);
    padding: 8px 25px;
    font-weight: 400;
}
/* Style for full page End*/

/* Header Common Style */
.header-container {
    display: flex;
    flex-direction: column;
    margin:0 70px;
}

section h1 {
    display: flex;
    flex-direction: column;
}

section.top-header h4 {
    width: 105px;
}
/* Header Common Style End*/


/* Header TopBar Styling */
section.topbar {
    display: grid;
    grid-template-columns:  repeat(1, 1fr) 125px;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 49px;
}

section.top-header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

/* Nagation Styling */
nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding-left: 0;
    padding-right: 40px;
}
/* Navigation Styling End */

/* Animation & Transitions for Header Part */
  @keyframes mymoveright {
    from {left: 0px;}
    to {left: 10px;}
  }

  @keyframes mymoveleft {
    from {left: 0px;}
    to {left: -10px;}
  }

.login-button:hover {
    transform: scale(120%);
}

.fa-arrow-right {
    position: relative;
    transition: width 5s;
}

.watch-button a {
    position: relative;
}

.watch-button:hover .fa-arrow-right {
    animation: mymoveright 0.5s ease-in forwards;
    transform: scale(150%);
}

.watch-button:hover a {
    animation: mymoveleft 0.5s ease-in forwards;
    font-weight: 600;
    transform: scale(110%);
}
/* Animation & Transitions for Header Part End */

header section img {
    width: 556px;
    height: 438px;
}
/* Header TopBar Styling End */

/* Main Container */
.main-container {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

/* Player List Styling */
.player-grid {
    width: 90%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;    
}

.player-list {
    width: 330px;
    height: 474px;
    box-shadow: 2px 2px 20px rgb(196, 196, 196);
    padding: 15px;
}

.player-name {
    font-weight: 700;
    font-size: 1.6em;
    margin: 10px 0;
}
.player-list img {
    width: 100%;
}
/* Player List styling End */

/* Highlights Area */
.highlightarea {
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    margin:0 80px;
    align-items: center;
}

.highlight-text h2 {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    font-weight: 700;
}

.highlight-text h4 {
    color:white;
    width: 110px;  
}

.highlight-text p {
    width: 80%;  
}

.highlightarea img {
    width: 100%;
}
/* Highlights Area End */

/* Contents for Score Summary and Player Ranking */
.scoreboard {
    width: 100%;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.726));
    display: flex;
    justify-content: center;
    padding: 50px;
}

table {
    text-align: center;
    width: 80%;
    border-collapse: separate;
}

table th, td{
    background-color: rgb(255, 158, 174);
    height: 2.5em;
    color:black;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
    border: 5px solid rgb(14, 10, 10);
}

.achievements {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-bottom: 50px;
    text-align: right;
}

.achievements span {
    padding: 0 100px;
    width: 100%;
    line-height: 0;
}

.score-highlight {
    font-size: 5em;
    font-weight: 900;

}

.score-title {    
   margin-top: 0;
   padding-top: 0;
   color: rgb(212, 183, 19);
}
/* Contents for Score Summary and Player Ranking End*/
/* Main Container End*/

/* Footer Start */
.footers {
    display: flex;
    justify-content: center;
}

.footers img {
    transform: scale(80%);
}

.socialicons i {
    padding: 15px 15px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.3);
    margin: 10px 25px;
    font-size: 50px;
}
/* Footer End */